/*resets*/

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*base*/

html {
    font-size: 62.5%;
}

body {
    font-family: "DIN Pro";
    font-size: 2.4rem;
    box-sizing: border-box;
    position: relative;
    min-height: 200vh;
}

/*grid*/

.container {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
}

.col-2 {
    flex-basis: 50%;
}

.col-3 {
    flex-basis: 33%;
}

.col-4 {
    flex-basis: 25%;
}

/*inputs and buttons*/

.button {
    font-family: "DIN Pro";
    font-size: 17px;
    border-radius: 1rem;
    text-transform: capitalize;
    color: #000000;
    transition: all 0.15;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 19px;
}

.button--slidedown {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 2rem;
    color: #000000;
    border-radius: 50%;
    border-color: rgba(255,255,255,0.5);
    margin-left: -2.5rem;
    border-width: 2rem;
    display: block;
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    text-align: center;
    transform: translateY(50%);
    box-shadow: 0 0 0 10px rgba(255,255,255,0.5);
    z-index: 100;
    animation: bubble 3s 3s infinite;
    line-height: 5rem;
}

.button--slidedown:hover {
    animation: bubble 0s 0s, pulse-shadow 1s 1s infinite;
}

.button--transparent {
    background-color: transparent;
}

.button--transparent:hover {
    background-color: #000;
    color: #ffffff;
}

.button--attention {
    background-color: #EE1919;
    border-color: #EE1919;
    color: #ffffff;
}

.button--attention:hover {
    background-color: #e83c3c;
}

.button--dark {
    background-color: #000000;
}

.button--dark {
    background-color: #000000;
}

.button--dark:hover {
    background-color: #212121    
}

.button--tiny {
   border-radius: 5px;
   background-color: #ffffff;
   font-size: 1.3rem;
   padding: 4px 16px;
}

.button--tiny:hover {
    background-color: #000000;
    color: #ffffff;
}

.button--bordered {
    border: 1px solid #000;
}

.form {
    background-color: #fff;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding: 3rem 4.5rem 4rem;
    width: 100%;
}

.form-input__wrapper {
    width: 100%;
}

.input {
    width: 100%;
    display: block;
    font-size: 1.7rem;
    background-color: transparent;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px solid #A9A9A9;
    text-align: center;
}

.input:focus {
    border-color: #EE1919;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(238,25,25,0.60);
    outline: 0;
}

.input--file {
    opacity: 0;
    width: 100%;
}

.input-label--file {
    position: relative;
    border: 1px solid #A9A9A9;
    border-radius: 1rem;
    width: 100%;
    display: block;
    padding-right: 12rem;    
}

.input-file-custom {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 12rem;
    overflow: hidden;
    padding-left: 3rem;
    line-height: 6rem;
    text-overflow: ellipsis;    
    vertical-align: middle;
    cursor: pointer;
}

/* .input-file-custom:before {
    content: 'Прикрепить макет';
    border: 1px solid #A9A9A9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 1rem 0 0 1rem;
} */

.input-file-custom:after {
    content: 'Прикрепить';
    border: 1px solid #A9A9A9;
    background-color: #000;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1rem;
}

.input-file--fake {
    text-align: left;

}

/*typography*/

.heading {
    font-family: "DIN Pro Black";    
}

.heading--larger {
    font-size: 5.3rem;
}

.heading--large {
    font-size: 4.8rem;
}

.heading--small {
    font-size: 3.2rem;
}

p {
    font-size: 2.4rem;
}

.text-white {
    color: #ffffff;
}

.hidden--lg,
.hidden--md {
    display: none!important;
}

.visible--lg {
    display: unset!important;
}

.hidden {
    display: none!important;
}



body {
    font-size: 1.6rem;
    position: relative;
    background-color: #eee;
    font-family: 'DIN Pro', serif;
    overflow-x: hidden;
    color: #000000;
}

.container--fluid-fx-bg {
    background-attachment: fixed;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    color: #ffffff;
    font-size: 1.7rem;
    z-index: 6;
}

.header__inner {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.menu {
    display: flex;
    flex-flow: row nowrap;    
}

.menu__link {
    /* font-size: 1.7rem; */
    color: #ffffff;
    font-size: 1.7rem;
    display: block;
}

.menu__link {
    padding: .5rem 1.75rem 0.25rem;
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    font-family: 'DIN Pro';
}

.menu--header {
    flex-grow: 2;
    margin-left: 4.8rem;
    margin-top: .9rem;
}

.menu--light-bg {
    color: #000000;
}

.menu--light-bg .menu__link,
.header--light-bg .header__link {
    color: #000000;
}

.header__info {
    display: flex;
    flex-flow: row nowrap;
    text-align: right;
}

.header__text {
    font-size: 1.7rem;
}

.header__text--small {
    margin-top: 4px;
    margin-right: 3rem;
}

.header__link {
    font-size: 1.9rem;
    font-family: 'DIN Pro Medium';
    margin-bottom: 0.7rem;
    text-align: center;
    color: #ffffff;
    display: block;
}

.header__link--large {
    margin-bottom: 8px;
}

.header__text p:not(:last-child) {
    margin-right: 2.8rem;
}

.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #000000;
    z-index: 1;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.header--fixed .logo__icon {
    width: 76px;
    height: 40px;
}

.header--fixed .menu {
    margin-top: 0;
    margin-left: 2.4rem;
}

.header--fixed .header__text {
    margin-top: 0;
}

.header--fixed .header__contacts-vert {
    margin-right: 1rem;
}

.header--fixed .header__link--small {
    display: inline-block;
}

.header--fixed .header__link--large {
    margin-bottom: 0;
}

.header--fixed .header__link--small {
    font-size: 1.5rem;
    text-align: right;
    font-family: "Din Pro";
    margin-bottom: 0;
}

.header--fixed .header__contacts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.header--fixed header__link--small {
    font-size: 1.5rem;
}

.header--fixed .header__contacts-icon {
    width: 3.5rem;
    height: 3.5rem;
}

.header--fixed .header__link--small {
    cursor: pointer;
}

.main {
    background: url('../img/bg-1.jpg') 50% 0;
    background-size: cover;
    background-attachment: fixed;
    height: 77.5vh;
    position: relative;
    padding-top: 150px;
    padding-bottom: 6.5rem;
    z-index: 5;
}

.main__heading span {
    font-size: 3.2rem;
    font-family: "DIN Pro";
}

.main__inner {
    align-items: flex-end;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

.main__heading {
    margin-bottom: 6.;
}

.main__heading span {
    font-size: 3.2rem;
    font-family: "DIN Pro Light";
    display: block;
    margin-top: 6.5rem;
}

.main__content--bordered {
    border: 1px solid rgba(255,255,255, 0.47);
    border-radius: 1rem;
    padding: 4rem 5rem;
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem;
}

.main__text {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    flex-basis: 100%;
}

.main__icon-container{
    width: 177px;
    height: 83px;
    display: inline-block;
}

.jumbotron__text--content input {
    display: inline-block;
    background-color: #f10;
    border: none;
    color: #ffffff;
    padding: 2rem 2.6rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: "DIN Pro";
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 11rem;
} 

/* .card-container .card:not(:last-child) {
    margin-right: 6.5rem;
} */

.card {
    background-color: #ffffff;
    border-radius: 10px;
    flex-basis: 300px;
    text-align: center;
    padding: 5.5rem 3rem 4.5rem;
    min-height: 310px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    font-size: 1.7rem;
}

.card:hover {
    box-shadow: 0 0 13px 3px #d1d1d1;
    transform: scale(1.02);
    transition: all 0.3s;
    perspective: 1000px;
}

.card__image {
    display: block;
    justify-self: start;
    margin-bottom: auto;
}

.card-container .card:nth-child(2) img {
    animation: rotate 4s 0s infinite linear;

}

.card-container .card:nth-child(1) img {
    animation: squeeze 3s 0s infinite linear;
}

.card-container .card:nth-child(3) img {
    animation: stretch 3s 0s infinite linear;
}


.card h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-family: "DIN Pro Black";
}

.gallery {
    padding: 9.5rem 0 11.5rem;
}

.gallery__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.6rem;    
}

.gallery__type-button {

    padding: .6rem 2.8rem;
    font-size: 2rem;
    font-family: "DIN Pro Black";
    font-weight: 900;
    text-transform: capitalize;
    border: transparent;
}

.gallery__type-button.active {
    color: #ff1100;
    border: 1px solid #A5A5A5;
    cursor: default;
}

.gallery__heading {
    padding-left: 3rem;
}

.heading--gallery span {
    font-size: 3.2rem;
    font-family: "DIN Pro";
    font-weight: normal;
}

.gallery__item-name {
    font-size: 2.4rem;
}


.gallery__type {
    display: flex;
    flex-flow: row nowrap;
}

.button--gallery {
    font-size: 20px;
    font-family: 'Din Pro Bold';
}

.gallery__list {
    display: flex;
    flex-flow: row wrap;
}

.gallery__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 12rem;
}

.gallery__item {
    flex-basis: 33%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 40px 0 40px;
    border: 1px solid #E1E1E1;
    border-top: none;
}

.gallery__list > .gallery__item:nth-child(3n) {
    border-right: none;
    border-left: none;
}

.gallery__list > .gallery__item:nth-child(3n + 1) {
    border-right: none;
    border-left: none;
}

.gallery__list > .gallery__item:nth-child(-n + 3) {
    border-top: none;
}

.gallery__list > .gallery__item:nth-last-child(-n + 3) {
    border-bottom: none;
}


.gallery__item-type {
    font-family: "DIN Pro Light";
    font-size: 1.7rem;

}

.gallery__item-name {
    font-size: "DIN Pro Black";
    font-size: 2rem;
}

.gallery__item-price {
    font-size: 'DIN Pro Medium';
    font-size: 1.7rem;
}

.price:after {
    content: 'рублей';
    padding-left: 4px;
}


.gallery__item-img {
    max-width: 300px;
    height: auto;
    cursor: pointer;
}

.gallery__item-img img {
    max-width: 300px;
}

.gallery__item-info {
    display: flex;
    flex-flow: column nowrap;
}

.gallery__item-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 1rem;
}

.gallery__item-thumbs {
    margin-top: 1rem;
}

.gallery__item-thumbs a{
    display: inline-block;
}

.gallery__item-thumbs img{
    display: inline-block;
    width: 50px;
    height: 50px;
}

.gallery__item-ordering {
    display: flex;
    flex-flow: row nowrap;
    width: 300px;
    justify-content: space-between;
    align-items: stretch;
}

.gallery__item-ordering a{
    flex-basis: 48%;
    padding: 1.4rem 0 1.4rem;
    text-align: center;
}

.gallery__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.gallery__footer p {
    font-size: 1.7rem;
    flex-basis: 44rem;
    font-family: "DIN Pro";
}

.gallery__footer input {
    padding: 1.8rem 4rem;
    color: #ffffff;

}

.looking-for {
    padding: 9.2rem 0 10rem;
    background: url(../img/bg-2.jpg);

    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.looking-for__inner {
    /* flex-flow: column nowrap; */
    flex-wrap: wrap;
}

.looking-for h2{
    /* flex-basis: 100%; */
    margin-bottom: 3.5rem;
    max-width: 80rem;

}

.looking-for__image-container {
    display: flex;
    flex-flow: row nowrap;
}



.looking-for__text {
    font-size: 2.4rem;
    font-family: "DIN Pro Light";
    display: inline-block;
    margin-right: 5.5rem;
}

.looking-for__img {
    display: inline-block;
    width: 58rem;
    height: 28rem;
}

.looking-for__cta {
    padding: 2.2rem 4rem;
}

.looking-for__input-wrapper {
    margin-top: -1rem;
}

.your-choice {
    padding: 11.5rem 0 11.5rem;
}

.your-choice__text {
    flex-basis: 380px;

}

.your-choice__card-container {
    padding: 0;
}

.your-choice h2 {
    flex-basis: 38.5rem;
    margin-bottom: 2.5rem;

}

.card-container p {
    font-size: 1.7rem;
    font-family: "DIN Pro";
}

.your-choice__card-container li:not(:last-child) {
    margin-right: 2rem;
}

.matras {
    background-image: url(../img/bg-3.jpg);
    background-attachment: fixed;
    padding: 10rem 0 9rem;
    color: #ffffff;
}

.matras__inner {
    justify-content: space-around;
}

.matras h2 {
    font-size: 4.3rem;
    margin-bottom: 5rem;
}

.matras p {
    font-family: 'DIN Pro Light'
}

.matras__text-content p:not(:last-child) {
    margin-bottom: 3rem;
}

.matras > .container {
    display: flex;
    flex-flow: row;
}

.matras img {
    max-width: 550px;
    height: 256px;
    display: inline-block;
    margin-top: 4rem;
    margin-right: 3rem;
}

.matras .text-content {
    flex-basis: 50%;
}


.showroom {
    padding: 10rem 0 9.3rem;  
}

.showroom__heading {
    margin-bottom: 4.3rem;
}

.showroom__inner {
    display: flex;
    flex-flow: row wrap;
}

.showroom__text-content {
    padding-right: 1rem;
}

.showroom__address {
    padding-top: 3.6rem;
}

.showroom__address-icon {
    float: left;
    border-radius: 5px;
    border: 1px solid #000;
    margin-right: 1.8rem;
    margin-top: 5px;
}

.showroom__text {
    font-size: 1.9rem;
    font-family: "DIN Pro Light";
}

.showroom__img-content {
    display: flex;
    flex-flow: row nowrap;
}

.showroom__img--large {
    width: 422px;
    height: 360px;
}

.showroom__thumbs {
    display: flex;
    flex-flow: column;
}

.showroom__img--thumbs {
    width: 122px;
    height: 96px;
    margin-bottom: 8px;
    margin-left: 8px;
}


.manifacturer {
    background-image: url(../img/bg_4.jpg);
    background-attachment: fixed;
    padding: 4rem 0;
    align-items: center;
}

.manifacturer img {
    float: left;
    animation: rotate 8s infinite linear;
}

.manifacturer .text-content {
    float: left;
    margin-left: 4.2rem;  
}

.manifacturer .text-content h2 {
    font-size: 2.7rem;
    padding-top: 22px;
    margin-bottom: 22px;
}

.manifacturer .text-content p {
    font-size: 1.7rem;
    font-family: "DIn Pro Light";
    vertical-align: middle;
    max-width: 800px;
}


.manifacturer .container:after {
    content: '';
    display: table;
    clear: both;
}

.designer {
    background-color: #fff;
    padding-top: 10.8rem;
    padding-bottom: 8.5rem;

}

.designer__heading {
    margin-bottom: 4.2rem;
    font-size: 4.2rem;
}

.designer .text-content {
    margin-left: 4.8rem;
}

.designer .text-content__footer {
    margin-top: 4.8rem;
    font-size: 1.9rem;
    font-family: "DIN Pro ";
    display: flex;
    flex-flow: row;
}

.designer .text-content__footer p{
    margin-left: 2.4rem;
    font-family: "DIN Pro";
    font-size: 1.9rem;
}

.contact-us {
    background-image: url(../img/bg-7.jpg);
    background-attachment: fixed;
    background-position: center center;
    padding: 7rem 0 6.5rem;
    color: #ffffff;
}

.contact-us__inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 96rem;
}

.contact-us__text-content {
    flex-basis: 60%;;
}

.contact-us__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #000000;
    padding: 3.5rem 4rem 5.5rem;
    max-width: 36rem;
    border-radius: 1rem;
    text-align: center;
}

.contact-us__heading--form {
    font-size: 1.7rem;
    font-family: "DIN Pro Light";
    margin-bottom: 2rem;
}

.contact-us__input {
    border: 1px solid rgba(35,35,36,0.40);
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 8px;
    width: 100%;
    margin: 0 1rem 1.4rem 1rem;
}

.contact-us__input:focus {
    border-color: #f10;
    outline: none;
    box-shadow: 0px 0px 3px #f10;
    flex-basis: 100%;
}

.contact-us__input--text::placeholder,
.contact-us__input--password::placeholder {
    font-size: 1.6rem;
}

.contact-us__checkbox,
.contact-us__label {
    font-size: 9px;
}

.contact-us__cta {
    width: 100%;
    padding: 2rem 2.2rem 2rem;
    margin-bottom: 2rem;
}

.contact-us__heading {
    margin-bottom: 3.8rem;
}

.contact-us__text{
    font-size: 2.9rem;
    font-family: 'DIN Pro Light';
    max-width: 49.5rem;
}

.footer {
    padding-top: 7.5rem;
}

.footer__inner {
    display: flex;
    flex-flow: row nowrap;
    /* padding: 7.5rem 0 0; */
    justify-content: end;
}

.footer__icon-container {
    /* flex-grow: 2; */
    margin-right: auto;
}

.footer__info {
    text-align: right;
}

.footer__info-section--socials > a{
    display: inline-block;
    vertical-align: top;
}

.footer__link {
    font-size: 2.4rem;
    color: #000000;
    font-family: "Din Pro Medium";
    display: inline-block;
}

.footer__text--address {
    color: #000000;
    font-size: 1.6rem;
    font-family: "DIN Prom";
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.footer__map-container {
    margin-left: 3.5rem;
}

.footer__info-section {
    margin-bottom: 2.5rem;
}

.footer__copyright {
    padding: 1rem 0 1rem;
    font-size: 1.3rem;
    font-family: "DIN Pro Light";
    flex-basis: 100%;
}

ymaps {
    max-width: none;
    max-height: none;
}

.modaal-container,
.modaal-content-container {
    background-color: transparent;
}

.modal__header {
    margin-bottom: 2rem;
}

.modal__content {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
}

.modal__content--large {
    max-width: 77.5rem;
    padding: unset;
}

.modal__title span {
    font-size: 1.9rem;
    font-family: "Din Pro Light";
    font-weight: normal;
}

.form  {
    text-align: center;
}

.form__input-wrapper {
    margin-bottom: 1.3rem;
}

.form__checkbox-text {
    font-size: 1.1rem;
    text-align: left;
}

.item-details {
    display: flex;
    flex-flow: column wrap;
    padding: 4rem 3rem;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
}

.item-details {
    max-height: 55.5rem;
    position: relative;
}

.item-details__main {
    text-align: left;
    flex-basis: 100%;
}

.item-details__heading--small {
    font-size: 1.6rem;
    font-family: "Din Pro Light";
    font-weight: normal;
}

.item-details__heading--large {
    font-size: 3.2rem;
    font-family: "Din Pro Bold";
}

.item-details__img {
    width: 25rem;
    height: auto;
}

.item-details--info {
    max-width: 42rem;
}

.item-details__p {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.item-details__p--m-0 {
    margin-bottom: 0;
}

.item-details__p--important {
    color: #ff1100;
}

.item-details-order {
    /* position: absolute; */
    margin-left: auto;
    align-self: flex-end;
    bottom: 4.2rem;
    right: 4rem;
}

.item-details__cta {
    text-align: center;
    display: inline-block;
    max-width: 16rem;

}

.list-styled {
    list-style-type: disc;
    margin: unset;
    margin-left: 2rem;
}

.item-details__list {
    margin-bottom: 2rem;
}

.item-details__table-head td{
    padding-right: 2rem;
}

.item-details__table-cell {
    font-size: 1.9rem;
    padding-right: 2rem;
}

.modaal-content-container {
    padding: 0;
}

@media (max-width: 1200px) {
    .container {
        flex-flow: row wrap;
        max-width: 70rem;
        padding: 0 .5rem;
    }

    .hidden--lg {
        display: unset!important;
    }

    .hidden--sm {
        display: unset!important;
    }

    .visible--lg {
        display: none!important;
    }

    .hidden--md {
        display: none!important;
    }

    .md-col-2 {
        flex-basis: 50%;
    }

    
    .md-col-1 {
        flex-basis: 100%;
    }
    
    .main {
        text-align: center;
    }

    .menu__trigger {
        display: block;
        padding: 1rem;
        cursor: pointer;
        margin-top: -1rem;
    }

    

    .menu {
        order: 4;
        /* flex-basis: 100%; */
        /* justify-content: center; */
        text-align: center;
        justify-content: center;
        margin-top: 2rem;
        margin-left: 0rem;
    }

    .menu__item {
        margin-left: 1rem;
    }

    .menu__item:last-child {
        margin-left: 0;
    }
    
    .menu__trigger .line {
        display: block;
        height: 5px;
        width: 2.5rem;
        background-color: #000000;
        margin-bottom: .5rem;
    }

    .header__inner {
        justify-content: space-between;
    }

    .header__inner-container--fixed {
        max-width: 72rem;
        justify-content: space-between;
    }    
    
    .header--fixed .menu {
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255,255,255,0.9);
        transform: scaleX(0);
        transition: all 0.1s;
        margin-top: 0;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: stretch;
    }

    .header--fixed .menu.open {
        transform: scaleX(1);
        z-index: 100;
        padding-bottom: 30vh;          
    }

    .header--fixed .header__text--small {
        font-size: 1.6rem;
        margin-right: 1rem;
    }

    .header--fixed .menu__link {
        padding: 10px 16px;

    }

    .header--fixed .menu__link:hover {
        background-color: #fff;        
    }    

    .header__text {
        font-size: 1.7rem;
    }

    .menu__item--closer {
        position: absolute;
        right: 6rem;
        top: 0;
        padding: 2rem;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
    }

    .header--fixed .menu__item {
        margin: unset;
    }

    .menu__link--closer {
        width: 2rem;
        height:2rem;
        font-size: 4rem;
    }    

    .main__inner {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .main__content--bordered {
        max-width: 535px;
        padding: 3.4rem 5rem;
        margin-bottom: auto;
        margin-top: -1rem;
    }

    .card-container {
        padding: 8.5rem 0 0;
    }

    .card-container .card:nth-child(-n+2) {
        margin-bottom: 3.5rem;
    }

    .gallery__header {
        flex-flow: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        margin-bottom: 7rem;
    }

    .gallery__type {
        order: -1;
        margin-bottom: 2rem;
    }

    .gallery__heading  span {
        margin-right: 0;
        margin-bottom: 4rem;
    }

    .gallery__list  {
        justify-content: space-between;
    }


    .gallery__item {
        border: none;
    }

    .gallery__list .gallery__item:nth-child(-n + 2) {
        padding-top: 0;
    }

    .gallery__list .gallery__item:nth-child(odd) {
        border: none;
        border-right: 1px solid #E1E1E1;
        border-bottom: 2px solid #E1E1E1;        
        padding-right: 4.4rem;
    }

    .gallery__list .gallery__item:nth-child(even) {
        border-left: 1px solid #E1E1E1;        
        padding-left: 4.3rem;
    }    

    .gallery__list .gallery__item:nth-child(3n),
    .gallery__list .gallery__item:nth-child(4n) {
        border-bottom: 2px solid #E1E1E1;
    }



    .gallery__footer p {
        padding-left: 6rem;
        padding-right: 3rem;
    }

    .looking-for {
        text-align: center;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .looking-for__inner {
        flex-flow: column nowrap;
    }

    .looking-for__text {
        font-size: 2.1rem;
        margin-right: 0;
        text-align: center;
        max-width: unset;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .looking-for__heading {
        font-size: 3.7rem;
    }

    .looking-for__image-container {
        flex-wrap: wrap;
    }    

    .looking-for__img {
        width: 40rem;
        height: 19rem;
        flex-basis: unset;
        display: block;
        margin: auto;
    }

    .looking-for__image-container p{
        margin-bottom: 9rem;
    }

    .looking-for__image-container {
        margin-bottom: 4rem;
    }

    .looking-for__input-wrapper {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }

    .looking-for__cta {
        padding-top: 1.8rem;
        padding-bottom: 1.7rem;
    }

    .your-choice {
        padding: 5.5rem 0 5.5rem;
    }

    .your-choice__text {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 5.5rem;
    }

    .your-choice img {
        width: 155px;
        height: 155px;
    }

    .your-choice__card-container {
        padding-top: 0;
    }

    .matras {
        text-align: center;
        padding-top: 7rem;
        padding-bottom: 5rem;
    }

    .matras__text-content {
        flex-basis: unset;
    }

    .matras h2 {
        font-size: 3.7rem;
    }

    .matras__text-content p {
        margin-bottom: 4rem;
    }

    .matras__text-content img {
        margin: 0;
    }

    .showroom {
        text-align: center;
    }

    .showroom__inner {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .showroom__heading {
        font-size: 4.3rem;
    }

    .showroom__text-content {
        order: 2;
        max-width: 51rem;
        padding: unset;
    }

    .showroom__img-content {
        margin-bottom: 2rem;
    }

    .showroom__address {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .showroom__img--large {
        width: 45.2rem;
        height: 36rem;
    }

    .showroom__thumbs {
        margin-left: 1rem;
    }

    .showroom__img--thumbs {
        width: 12.9rem;
        height: 9.7rem;
    }

    .showroom__text {
        font-size: 2.4rem;
    }

    .showroom__text--small {
        font-size: 1.9rem;
    }

    .manifacturer .container {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .designer .container {
        justify-content: center;
        align-items: center;
    }

    .designer img {
        width: 30rem;
        height: 20rem;
    }

    .designer .text-content {
        margin: unset;
    }

    .designer .text-content p {
        font-size: 1.9rem;
    }

    .designer > .container > .text-content > p{
        margin: unset;
    }

    .designer .text-content__footer img {
        width: 5rem;
        height: 5rem;
    }

    .contact-us {
        text-align: center;
    }

    .contact-us .container {
        flex-flow: column;
    }

    .contact-us .text-content {
        margin-bottom: 2rem;
    }

    .contact-us p {
        max-width: 550px;
    }

    .contact-us__form {
        width: 36rem;
        max-width: unset;
    }
    
    .contact-us__cta {
        width: 100%;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }

    .footer__map-container {
        margin-left: 1rem;
    }

    .footer__icon-container {
        margin: unset;
    }

    .footer__map-container {
        width: 30rem;
    }

    .item-details {
        max-width: 70rem;        
        max-height: 55.5rem;
    }

    .item-details__modal-content .modal-body {
        height: 100%;
    }
    .item-details__main {
        margin-right: 2rem;
    }
}

@media (max-width: 770px) {

    .button {
        padding: 15px 17px;
    }


    .button--slidedown {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;
    }

    .hidden--md {
        display: unset!important;
    }

    .container {
        max-width: 30rem;
    }

    .visible--md {
        display: unset !important;
    }

    body {
        font-size: 1.3rem;
    }

    .sm-col-1 {
        flex-basis: 100%;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 6rem;
        background-color: #ffffff;
        color: #000000;
        padding-top: 8px;
        justify-content: space-around;
    }

    .header__inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .header--fixed {
        display: none;
    }

    .menu__link,
    .header__link {
        color: #000000;
    }

        
    .menu__trigger {
        display: block;
        cursor: pointer;
    }
    
    .logo__icon {
        width: 6rem;
        height: 3rem;
    }

    .header__socials {
        display: block;
        margin-right: 7px;
    }

    .header__link--social {
        display: inline-block;
    }

    .header__icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .header__text--small {
        position: absolute;
        top: 8rem;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.3rem;
        color: #ffffff;
    }

    .nav__button {
        background-color: #f10;
        color: #ffffff;
        font-size: 1.3rem;
        padding: 2px 7px;
        border: none;
    }

    .header__info {
        margin: unset;
    }

    .header__link {
        font-size: 1.5rem;
        font-family: "Din Pro Medium";
        margin-bottom: 0;
    }

    .menu--header {
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255,255,255,0.9);
        transform: scaleX(0);
        transition: all 0.1s;
        margin-top: 0;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: stretch;
    }

    .menu__link {
        padding: 10px 16px;

    }

    .menu__link:hover {
        background-color: #fff;        
    }

    .menu--header.open {
        transform: scaleX(1);
        z-index: 100;
        padding-bottom: 30vh;        
    }

    .header__link--large {
        margin-bottom: 3px;
    }

    .button--header {
        background-color: #f10;
        color: #ffffff;
        padding-top: 2px;
        padding-bottom: 2px;        
    }

    .menu__item--closer {
        position: absolute;
        right: 6rem;
        top: 0;
        padding: 2rem;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
    }

    .menu__link--closer {
        width: 2rem;
        height:2rem;
        font-size: 4rem;
    }

    .main {
        min-height: 70rem;
    }

    .main__inner {
        justify-content: center;
        align-items: center;
    }

    .main__content {
        margin-bottom: 0;
    }    
    
    .main__heading {
        font-size: 2.4rem;
    }
    
    .main__heading span {
        font-size: 1.9rem;
        margin: unset;
        margin-top: 2rem;
    }

    .main__content--bordered {
        display: flex;
        text-align: center;
        padding: 2rem 1.5rem;
        justify-content: center;
    }

    .main__text {
        font-size: 1.3rem;
    }

    .main__icon-container {
        margin: 1rem 0;
    }
    
    .main__icon-container img {
        width: 15rem;
        height: 7rem;
    }

    .card-container {
        align-items: center;
        justify-content: center;
        padding: 4rem 0;
    }

    .card {
        display: flex;
        flex-flow: row nowrap;
        flex-basis: 290px;
        padding: 1.5rem .5rem 1.5rem 2rem;
        align-items: center;
        justify-content: center;
        min-height: inherit;
        text-align: left;        
    }

    .card__image {
        margin-bottom: 0;
        margin-right: 1.5rem;
    }

    .card__image img {
        width: 5rem;
        height: 5rem;
    }

    .card__text h2 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    .card__text p {
        font-size: 1.3rem;
    }

    .gallery {
        padding-bottom: 4rem;
        padding-top: 0;
    }

    .gallery__heading {
        padding: unset;
        font-size: 2.4rem;
        margin-bottom: 3.5rem;
    }

    .gallery__heading span {
        font-size: 1.6rem;
    }

    .gallery__header {
        margin-bottom: 0;
    }

    .gallery__type-button {
        font-size: 1.8rem;
        padding: .8rem 2.2rem;
    }

    .gallery__list {
        padding-bottom: 2rem;
        justify-content: center;
        align-items: center;
    }

    .gallery__list .gallery__item:nth-child(odd) {
        padding-right: 0;
        border: none;        
    }

    .gallery__list .gallery__item:nth-child(even) {
        padding-left: 0;
        border: none;        
    }    

    .gallery__item {
        flex-basis: 25rem;
        padding-top: 0;

    }

    .gallery__item-type {
        font-size: 1.2rem;
    }

    .gallery__item-price {
        font-size: 1.5rem;
    }

    .gallery__item-img {
        width: 25rem;
        height: 25rem;
        max-width: auto;
    }

    .gallery__item-img img {
        width: 100%;
    }

    .gallery__item-content {
        width: 250px;
    }

    .gallery__item-ordering {
        width: 250px;
    }

    .gallery__item-ordering .button {
        padding: 0.8rem 0;
        font-size: 1.6rem;
    }

    .gallery__footer {
        flex-direction: column;
        padding-top: 0;
    }

    .gallery__footer p {
        font-size: 1.3rem;
        flex-basis: auto;
        padding: 0 1.6rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .gallery__footer .button {
        padding: 1.2rem 4rem;
    }

    .looking-for {
        padding: 3.5rem 0 3.5rem;
    }

    .looking-for__heading {
        font-size: 2rem;
    }

    .looking-for__text {
        font-size: 1.5rem;
        padding: 0;
    }

    .looking-for__image-container p {
        margin-bottom: 4rem;
    }

    .looking-for__img {
        width: 25rem;
        height: 12rem;
    }

    .looking-for__cta {
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        padding: 1.6rem 2rem;
    }

    .your-choice {
        padding: 3.5rem 0 3.5rem;
    }
    
    .your-choice__text h2{
        font-size: 2.1rem;
    }

    .card-container--your-choice {
        justify-content: space-around;
    }

    .card-container--your-choice li:nth-child(2 + n) {
        margin-bottom: 0;
    }

    .your-choice__card-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .your-choice__text p {
        font-size: 1.7rem;
    }

    .your-choice img {
        height: 12rem;
        width: 12rem;
    }

    .your-choice__card-container p {
        font-size: 1.3rem;
    }

    .your-choice__card-container li:not(:last-child) {
        margin: unset;
        margin-bottom: 2rem;
    }

    .your-choice__card-container li:nth-child(odd) {
        margin-right: 2rem;
    }

    .your-choice__card-container li {
        margin-bottom: 2rem;
    }

    .matras {
        padding: 3.5rem 0;
    }

    .matras h2 {
        font-size: 1.9rem;
        padding: 0 2rem;
    }

    .matras img {
        width: 20rem;
        height: 10rem;
    }

    .matras p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .matras__text-content p:last-child {
        margin-bottom: 0;
    }

    .showroom {
        padding: 3.5rem 0 3.5rem;
    }

    .showroom__heading {
        font-size: 2.1rem;
    }

    .showroom__img--large {
        width: 22rem;
        height: 18rem;
    }

    .showroom__img--thumbs {
        width: 6.1rem;
        height: 4.2rem;
    }    

    .showroom__text {
        font-size: 1.5rem;
        padding: 0;
    }

    .showroom__text--small {
        font-size: 1.3rem;
    }

    .manifacturer {
        text-align: center;
        padding-bottom: 3.5rem 0;
    }

    .manifacturer .container {
        flex-flow: column;
    }

    .manifacturer .text-content {
        margin: unset;
    }

    .manifacturer .text-content  h2{
        font-size: 1.9rem;
    }

    .manifacturer .text-content p {
        font-size: 1.3rem;
    }

    .manifacturer img {
        width: 8.5rem;
        height: auto;
    }

    .designer {
        text-align: center;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    .designer__heading {
        margin-bottom: 2.2rem;
    }

    .designer img {
        width: 21.5rem;
        height: 14rem;
    }

    .designer .text-content p {
        font-size: 1.6rem;
    }

    .designer h2 {
        font-size: 2.4rem;
    }

    .contact-us  {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    .contact-us__text-content {
        margin-bottom: 2rem;
    }

    .contact-us__heading {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    .contact-us__heading--form  {
        font-size: 1.5rem;
    }

    .contact-us__text {
        font-size: 1.6rem;
        max-width: 26rem;
    }    

    .contact-us__form {
        padding: 2rem;
        max-width: 27.5rem;
    }

    .footer {
        text-align: center;
        padding-top: 3.5rem;
    }

    .footer__inner{
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .footer__icon-container {
        margin: unset;
        margin-bottom: 2rem;
    }

    .footer__icon-img {
        width: 7.5rem;
        height: 4rem;
    }

    .footer__info-section {
        text-align: center;
        vertical-align: middle;
        margin-bottom: 1.5rem;
    }

    .footer__link {
        font-size: 1.9rem;
        vertical-align: middle;
    }

    .footer__link--icon img {
        width: 2.8rem;
        height: 2.8rem;
    }

    .footer .address {
        font-size: 1.5rem;
    }

    .footer__map-container {
        margin: unset;
    }

    .footer__copyright {
        padding: 3rem;
    }

    ymaps {
        max-width: 30rem;
    }

    .modal__content--large {
        max-width: 30rem;
    }

    .item-details {
        max-width: 30rem;
        flex-flow: row wrap;
        justify-content: flex-start;
        padding: 4rem 1rem;
    }

    .item-details__img {
        width: 12rem;
    }

    .item-details--table-part,
    .item-details__main {
        flex-basis: 50%;
    }

    .item-details__main {
        order: -2;
        margin-right: 0rem;
    }

    .item-details--table-part {
        order: -1;
    }

    .item-details__table {
        font-size: 1.2rem;
    }

    .item-details__table-head td{
        padding-right: 0rem;
    }    

    .item-details__table-cell {
        font-size: 1.2rem;
        padding: 0;
    }

    .item-details__p {
        font-size: 1.2rem;
    }

    .item-details-order {
        align-self: center;

        width: 100%;
    }

    .item-details__cta {
        display: block;
        margin: 0  auto;
    }
    
}


/* #menu {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    color: #000000;
    box-shadow: 0 0 5px #e1e1e1;
}

#menu a {
    color: #000000;
}

#menu p {
    color: #000000;
}

#menu .nav {
    position: relative;
    padding-top: 1rem;
}

#menu .nav__menu{
    margin-left: 2.4rem;
    padding-top: 1.2rem;
}

#menu .nav__item a{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}


#menu .nav__aside {
    display: flex;
    flex-flow: row;
}

#menu .nav__aside--text {
    font-size: 1.6rem;
}

#menu .order-call  {
    font-size: 1.5rem;
    text-align: right;
}

#menu .nav__phone {
    margin-bottom: 0;
}

#menu .social a {
    display: inline-block;
    transition: all 0.1s;
}

#menu .social a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3px #e1e1e1;
}

#menu .social a img{
    width: 3.5rem;
    height: 3.5rem;
} */


/*animations and transitional classes*/

.animated-underline {
    position: relative;
}

.animated-underline:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    top: -10px;
    left: 0;
    /* background-color: rgba(255,255,255,0); */
    background-color: currentColor;
    border: none;
    transform: scaleX(0);
    transition: all 0.3s .05s;
}

.animated-underline:hover:after {
    visibility: visible;
    transform: scaleX(1);
}

.blink {
    overflow: hidden;
    /* display: inline-block; */
    position: relative;
    text-align: center;

}

.blink:after {
    content: '';
    transform: rotate(45deg);
    display: block;
    position: absolute;
    background-color: rgba(255,255,255, 0.5);
    height: 200px;
    width: 40px;
    left: -40px;
    top: -50px;
    animation: slideLeft 2s 0s infinite
}



@keyframes bubble {
    0% {
        transform: translateY(50%)
    }

    25% {
        transform: translateY(0%)
    }

    50% {
        transform: translateY(35%)
    }

    75% {
        transform: translateY(15%);
    }
}

@keyframes slideLeft {
    0% {
        left: -80px;        
    }
    50% {
        left: 280px
    }

    100% {
        left: 350px        
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }    
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 0 10px rgba(255,255,255,0.5);
    }

    25% {
        box-shadow: 0 3px 3px 14px rgba(255,255,255,0.5);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(255,255,255,0.5);        
    }

    75% {
        box-shadow: 0 0 0 6px rgba(255,255,255,0.5);
    }    
}


@keyframes squeeze {
    0% {
        transform: translateX(-15px)
    }

    10% {
        transform: translateX(15px);
    }

    15% {
        transform: translateX(-15px)
    }

    20% {
        transform: translateX(15px);
    }
    
    25% {
        transform: translateX(0)
    }

    45% {
        transform: translateX(0)        
    }

    50% {
        transform: translateX(-15px)
    }

    60% {
        transform: translateX(15px);
    }

    65% {
        transform: translateX(-15px)
    }

    70% {
        transform: translateX(15px);
    }
    
    75% {
        transform: translateX(0)
    }
}

@keyframes stretch {
    0% {
        transform: scaleX(1);
    }

    10% {
        transform: scaleX(1.2);
    }
    
    20% {
        transform: scaleX(0.8);
    }    
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

/* .svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000;
  }
  
  .svg-icon circle {
    stroke: #000;
    stroke-width: 1;
  }

#ad {
    transform: scale(7);
    justify-self: start;
    margin-bottom: auto;
} */