
.main {
        background-color:#000;
        background-image: url("../img/divany/bg10.jpg");
        @include respond(phone) {
            background-size: auto 90%;
            background-position: bottom center;
        }

}

.looking-for {
    background:#000;
    background-image: url("../img/divany/bg14.jpg");
    @include respond(phone) {
        background-position: top center;
        background-size: auto 100%;
    }
}

.manufacturer {
    background:#000 url("../img/divany/bg15.webp");
    z-index: 0;
    position: relative;

    @include respond(phone) {
        background-position: top center;
        background-size: auto 90%;
    }
    // &:before {
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     background-color: rgba(#000, 0.5);
    // }
}

.your-choice {

    .container {
        align-items: center;
    }
    &__content {
        flex-basis: 540px;

        @include respond(phone) {
            flex-basis: auto;
        }
    }
}

.contact-us {
    background-color: #000;
    background-image: url("../img/divany/bg10.jpg");
    background-position: top center;
}