.contact-us {
    background-image: url("../img/bg-7.jpg");
    font-family: "DIN Pro Light";
    font-size: 2.9rem;
    
    @include respond(phone) {
        font-size: 1.5rem;
        background-position: center center;
        background-size: auto 100%;
    }
    
    &__cta {
        margin-top: 1.2rem;
        margin-bottom: 2rem;
    }

    .form__container  {
        width: 36rem;

        @include respond(phone) {
            width: 28rem;
        }
    }

    &__inner {
        align-items: center;
    }

    &__checkbox {
        // display: none;
        display: block;
    }
}