.footer {
    width: 100%;
    text-align: right;
    &__inner {
        width: 112rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        margin: 0 auto;

        @include respond(tab-land) {
            width: 70rem;
            flex-wrap: wrap;
        }

        @include respond(phone) {
            width: 30rem;
            flex-flow: column wrap;
            text-align: center;
        }
    }

    &__info {
        margin-left: auto;

        @include respond(tab-land) {
            margin-left: 0;
        }
    }
    
    &__contacts {
        margin-left: auto;
        margin-right: 2rem;

        @include respond(tab-land) {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }

    &__copyright {
        flex-basis: 100%;
        text-align: left;

        @include respond(phone) {
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    &__info-line {
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }

    &__link {
        color: #000000;
        display: inline-block;
        font-size: 2.4rem;
        line-height: 3.5rem;
        font-family: "DIN Pro Medium";

        @include respond(tab-land) {
            font-size: 2rem;
        }

        &--icon {
            display: inline-block;
            line-height: 3.5rem;
            vertical-align: middle;
        }
    }

    &__copyright {
        font-size: 12px;
    }

    &__text {
        line-height: 1.2;
    }
}