.footer {
    width: 100%;
    text-align: right;
    &__inner {
        width: 112rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        margin: 0 auto;
    }

    &__info {
        margin-left: auto;
    }

    &__copyright {
        flex-basis: 100%;
    }

    &__info-line {
        line-height: 3.5rem;
        vertical-align: middle;
    }

    &__link {
        color: #000000;
        display: inline-block;
        font-size: 2.4rem;
        line-height: 3.5rem;
        font-family: "DIN Pro Medium";

        &--icon {
            display: inline-block;
            line-height: 3.5rem;
        }
    }
}