.footer {
    width: 100%;
    text-align: right;
    &__inner {
        width: 112rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        margin: 0 auto;
    }

    &__info {
        margin-left: auto;
    }
    
    &__contacts {
        margin-left: auto;
        margin-right: 2rem;
    }

    &__copyright {
        flex-basis: 100%;
        text-align: left;
    }

    &__info-line {
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }

    &__link {
        color: #000000;
        display: inline-block;
        font-size: 2.4rem;
        line-height: 3.5rem;
        font-family: "DIN Pro Medium";

        &--icon {
            display: inline-block;
            line-height: 3.5rem;
            vertical-align: middle;
        }
    }

    &__copyright {
        font-size: 12px;
    }

    &__text {
        line-height: 1.2;
    }
}