.gallery {
    width: 100%;

    @include respond(phone) {
        padding-top: 0;
    }

    &__list-inner {
        display: flex;
        flex-flow: row wrap;
        margin: -4.5rem;        
        overflow: hidden;

    }

    &__header {
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 6.4rem;

        @include respond(tab-land) {
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    .heading {
        margin-bottom: 0;
    }

    &__type {
        display: flex;
        flex-flow: row nowrap;

        @include respond(tab-land) {
            order: -1;
            margin-bottom: 3rem;
            margin-top: 0;
        }

        @include respond(phone) {
        }
    }

    &__type-button {
        color: $text-dark;
        font-size: 2rem;
        padding: .5rem 2rem;
        border-radius: 8px 8px 0 0;
        font-family: "Din Pro Black";
        margin-left: 2px;
        
        &:not(.active) {
            border: 1px solid #aaa;
            &:hover {
                border: 1px solid #ccc;
                background-color: #fff;
                color: $text-dark;
            }
        }

        &.active {
            border: 1px solid $color-highlight;
            color: $text-light;
            background-color: $color-highlight;
            position: relative;
            // border: 1px solid #A5A5A5;
            pointer-events: none;
            // outline

            &:after {
                content: '';
                // width: 11.7rem;
                height: 3px;
                background-color: $color-highlight;
                display: block;
                position: absolute;
                bottom: -7px;
                left: -1px;
                right: -1px;
                // border-left: 20px solid transparent;
                // border-right: 20px solid transparent;
                // border-top: 5px solid $color-highlight;
            }
        }

        @include respond(phone) {
            font-size: 1.5rem;
            padding: 0.4rem 2rem;
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;

        @include respond(phone) {
            justify-content: center;
        }
    }

    &__item {
        
    }
}