.header {
    font-size: 1.7rem;
    &__inner {
        display: flex;
        flex-flow: row nowrap;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        color: #ffffff;
    }
    &__info {
        display: flex;
        flex-flow: row nowrap;
    }

    &__text {

    }
    &__aside {
        margin-right: 3rem;
        line-height: 1.2;
        text-align: right;
        font-size: 1.7rem;
    }

    &__contacts {
        
    }
}
