.looking-for {
    background: #000 url("../img/bg-2.jpg");
    font-size: 2.4rem;
    font-family: "DIn Pro Light";

    &__content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
}