.main {
    position: relative;
    background: #000 url("../img/bg-1.webp");
    height: 85vh;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 6rem;
    z-index: 3;

    @include respond(tab-land) {
        // min-height: 75rem;

        
    }

    @include respond(phone) {
        padding-top: 8rem;
        height: auto;
    }
}