.main {
    position: relative;
    background: #000 url("../img/bg-1.webp");
    height: 80vh;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 6rem;
    z-index: 6;

    @include respond(tab-land) {
        // min-height: 75rem;

        
    }

    @media screen and (max-height: 770px) {
        height: 65rem
    }

    @include respond(phone) {
        padding-top: 8rem;
        height: auto;
        background-size: auto 80%;
        background-position: center center;
    }
}