.matras {
    background-image: url("../img/bg-3.jpg");

    .std-blck__inner {
        align-items: center;
    }

    .heading {
        margin-bottom: 3rem;
    }

    &__par:not(:last-child) {
        font-family: "DIN Pro Light";
        margin-bottom: 3rem;
    }
}