.more {
    font-size: 1.5rem;
    @include respond(phone) {
        font-size: 1.2rem;
    }
    &__inner {
        display: flex;
        flex-flow: row nowrap;
        padding: 3rem;
        max-width: 75rem;
        position: relative;

        @include respond(phone) {
            max-width: 30rem;
            display: block;
            padding: 1rem;
            margin: 0 auto;

        }
    }

    .heading {

        &:after {
            @include respond(phone) {
                content: '';
                display: block;
                margin: 0 auto;
                width: 10rem;
                height: 2px;
                background-color: $color-secondary;
                margin-top: .7rem;
            }
        }
        @include respond(phone) {
            font-size: 2.4rem;
            text-align: center;
            line-height: 2.4rem;
            margin-bottom: 1rem;
        }
        span {
            font-size: 1.3rem;
            font-family: serif;
            display: block;

            @include respond(phone) {
                font-size: 1.2rem;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    &__img-box {
        width: 25rem;
        height: 25rem;

        @include respond(phone) {
            width: 22rem;
            height: 22rem;
            // float: left;
            // padding-right: 1rem;
            margin: 0 auto;
        }
    }

    &__info-content {
        padding: 1rem;

        @include respond(phone) {
            padding-top: 0;
        }
    }

    &__par {
        margin-bottom: 1rem;
        &--important {
            color: $color-highlight;
        }
    }

    &__list {
        margin-bottom: 2rem;
        list-style-type: disc;
        &-item {
            margin-left: 1.3rem;
        }
    }

    &__table {
        margin-bottom: 2rem;
                @include respond(phone) {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border-top: 1px solid $color-secondary;
                    border-bottom: 1px solid $color-secondary;

            }

        tr {
            padding-bottom: 3rem;
        }
        th {
            text-align: left;
            padding-right: .5rem;
            font-family: "DIN Pro Light";
        }
        td {
            font-family: "DIN Pro Medium";
            padding: 0.5rem;

            @include respond(phone) {
                padding: .5rem;
                font-size: 1rem;
            }

            &:nth-child(even) {
                background-color: rgba(0,0,0, .1);
            }
        }
    }

    .button--large {
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-left: auto;
        display: block;
        width: 100%;
    }

    @media screen and (max-height: 650px) {
        .heading {
            // display: none;
            position: absolute;
            top: 0;
            left: 40px;
            text-shadow: 0 0 10px rgba(255,255,255, .8);

            &:after {
                display: none;
            }
        }
        &__img-box {
            height: 16rem;
            width: 16rem;
        }

        &__table {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        &_-par {
            margin-bottom: 0.5rem;
        }
    }
}