.card {
    // background-color: #ffffff;
    background:radial-gradient(ellipse farthest-corner at 0% 65%,  rgba(255, 255, 0, 0) 80%, rgba($color-secondary, 1) 100%),
               radial-gradient(ellipse farthest-corner at 100% 35%,  rgba(255, 255, 0, 0) 80%, rgba($color-secondary, 1) 100%),
            //    radial-gradient(ellipse farthest-corner at 100% 35%,  rgba(255, 255, 0, 0) 65%, rgba($color-secondary, 1) 65%),
            //    radial-gradient(ellipse farthest-corner at 0% 65%,  rgba(255, 255, 0, 0) 85%, rgba(darken($color-secondary, 15%), 1) 100%);
            #fff;
    border-radius: 10px;
    flex-basis: 300px;
    text-align: center;
    padding: 5.5rem 3rem 4.5rem;
    min-height: 310px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    box-shadow: 0 0 60px 8px #d1d1d1;
    
    @include respond(tab-land) {
        text-align: left;
        flex-flow: row nowrap;
        // justify-content: stretch;
        align-items: center;
        min-height: auto;
        // padding: 0;
        flex-basis: auto;
        margin-bottom: 1.5rem;
        justify-content: space-around;
        align-items: center;
    }

    @include respond(phone) {
        padding: 1.5rem .5rem 1.5rem 2rem;
    }

    p {
        @include respond(phone) {
            margin-bottom: 0;
        }
    }

    &__header {
        margin-bottom: 1.5rem;
        font-size: 1.7rem;

        @include respond(phone) {
            font-size: 1.5rem;
            margin-bottom: .7rem;
        }
    }

    &__image-wrapper {
        display: block;
        justify-self: start;
        margin-bottom: auto;
        animation-delay: 0;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @include respond(tab-land) {
            justify-self: auto;
            margin-bottom: 0;
            flex-basis: 30%;
        }

        @include respond(phone) {
            width: 5rem;
            height: 5rem;
            flex-basis: auto;
        }
    }

    &__image {
        display: block;
        justify-self: start;
        margin-bottom: auto;

        @include respond(tab-land) {
            margin: 0 auto;
        }
    }

    &__text {
        @include respond(tab-land) {
            flex-basis: 70%;
        }

        // @include respond(phone) {
            // flex-basis: 70%;
        // }
    }

    &:hover {
        box-shadow: 0 0 13px 3px #d1d1d1;
        transform: scale(1.02);
        transition: all 0.3s;
        perspective: 1000px;
    }

}
