.std-blck {
    padding: 9rem 0;
    color: $text-dark;
    font-size: 2.4rem;
    background-size: cover;

    &__inner {
        width: 112rem;
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    &__left,
    &__right {
        flex-basis: 50%;
    }

    &__full {
        flex-basis: 100%;
        margin-bottom: 5rem;
    }

    &--fxbg {
       color: $text-light;
       background-color: #000;
       background-attachment: fixed;
    }

    &__left {
        padding-right: 4rem;
    }
}