@keyframes bubble {
    0% {
        transform: translateY(50%)
    }

    25% {
        transform: translateY(0%)
    }

    50% {
        transform: translateY(35%)
    }

    75% {
        transform: translateY(15%);
    }
}

@keyframes slideLeft {
    0% {
        left: -80px;        
    }
    50% {
        left: 280px
    }

    100% {
        left: 350px        
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }    
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 0 10px rgba(255,255,255,0.5);
    }

    25% {
        box-shadow: 0 3px 3px 14px rgba(255,255,255,0.5);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(255,255,255,0.5);        
    }

    75% {
        box-shadow: 0 0 0 6px rgba(255,255,255,0.5);
    }    
}


@keyframes squeeze {
    0% {
        transform: translateX(-15px)
    }

    10% {
        transform: translateX(15px);
    }

    15% {
        transform: translateX(-15px)
    }

    20% {
        transform: translateX(15px);
    }
    
    25% {
        transform: translateX(0)
    }

    45% {
        transform: translateX(0)        
    }

    50% {
        transform: translateX(-15px)
    }

    60% {
        transform: translateX(15px);
    }

    65% {
        transform: translateX(-15px)
    }

    70% {
        transform: translateX(15px);
    }
    
    75% {
        transform: translateX(0)
    }
}

@keyframes stretch {
    0% {
        transform: scaleX(1);
    }

    10% {
        transform: scaleX(1.2);
    }
    
    20% {
        transform: scaleX(0.8);
    }    
}