h1,
h2,
h3,
h4 {
    font-family: "DIN Pro Black";
}

p {
    margin-bottom: 2rem;
}

.heading {
    margin-bottom: 2rem;
}

.heading--primary {
    font-size: 5.4rem;
    line-height: 1;

    span {
        font-size: 0.55em;
        font-family: "DIN Pro";
    }
}

.heading--secondary {
    font-size: 4.3rem;
}

.heading--tertiary {
    font-size: 3.2rem;
    line-height: 1;
    span {
        font-size: 0.575em;
        font-family: "DIN Pro"; 
    }
}

.text-light {
    color: #ffffff!important;
}

.text-dark {
    color: #000000!important;
}

.text-slim {
    font-family: "DIN Pro Light";
}

.t-right {
    text-align: right;
}

.text-small {
    font-size: 1.9rem;
}

.link--large {
    font-size: 2.4rem;
}