h1,
h2,
h3,
h4 {
    font-family: "DIN Pro Black";
}

.heading {

}

.heading--primary {
    font-size: 5.4rem;
    line-height: 1;

    span {
        font-size: 0.55em;
        font-family: "DIN Pro";
    }
}

.heading--secondary {
    font-size: 4.3rem;
}

.text-light {
    color: #ffffff;
}

.text-dark {
    color: #000000;
}

.t-right {
    text-align: right;
}