.u-hidden--tp {
    display: none!important;
    @include respond(tab-port) {
        display: block;
    }
}

.u-hidden--tl {
    display: none;
    @include respond(tab-land) {
        display: block;
    }
}

.u-hidden {
    display: none;

    &--tp {
        @include respond(tab-port) {
            display:  block;
        }
    }

    &--tl {
        @include respond(tab-land) {
            display: block;
        }
    }

    &--p {
        @include respond(phone) {
            display: block;
        }
    }
}

.u-visible--p {
    display: block;
    @include respond(phone) {
        display: none!important;
    }
}

.u-pt {
    padding-top: 4.5rem;
    &--large {
        padding-top: 11.5rem;

        @include respond(phone) {
            padding-top: 4rem;
        }
    }
}

.u-pb {
    padding-bottom: 4.5rem;
}

.u-jc {
    &--center {
        justify-content: center;
    }

    &--space-around {
        justify-content: space-around;
    }

    &--space-between {
        justify-content: space-between;
    }
}

.u-fl {
    float: left;
}

.u-fr {
    float: right;
}

.u-map__container {
    width: 320px;
    height: 240px;

    @include respond(tab-land) {
        width: 300px;
        height: 210px;
    }
}

.u-block {
    display: block;

    &--p {
        @include respond(phone) {
            display: unset;
        }
    }
}