$color-primary: #ffffff;
$color-dark: #000000;
$color-tertiary: #f6f6f6;

$color-secondary: #EE1919;

$color-highlight: $color-secondary;

$text-dark: $color-dark;
$text-light: $color-primary;
$text-highlight: $color-secondary;